{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Change Course: {{ object.title }}{% endblock %}


{% block page_content %}
<h1 class="hero">Change Course</h1>
<hr>
<div class="row">
  <div class="col-md-8">
    {% bootstrap_messages %}
    <form action="" class="form-horizontal" method="post" enctype='multipart/form-data'>{% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="text-right">
        <input type="submit" value="Change" class="btn btn-default" /> or
        <a href="{% url 'detail' object.id %}">cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
